<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Log modes: console/file -->
    <add key="logMode" value="console" />
    <add key="baselinkerURL" value="https://api.baselinker.com/connector.php" />
    <add key="baselinkerToken" value="3000143-3000867-IC2R97TF4A4SJJ3GFH9PNVT1PRNJYNXMT772UL0WUWB0I6VA6DIHX7765907ZXAS" />
  </appSettings>
</configuration>